.boton {
    padding: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color .3s;
    font-family: pokemonSolid;
    font-size: 1.2rem;
    color: var(--color-white);

    &.primario {
        background-color: var(--color-primario);
        margin: 0 5px;

      /*   &:hover {
            background-color: var(--color-secundario);
        } */
        &:disabled{
            background-color: #bb78b8 !important;
            cursor: not-allowed;
        }
    }
}