<div class="pokemon" (click)="seleccionar()">
  <div class="pokemon-info">
    <div class="pokemon-imagen">

      <div class="pokemon-imagen-default">
        <img [ngSrc]="pokemon.urlFoto" alt="Dito" width="250" height="150" [alt]="pokemon.nombre" [ngClass]="{'mostrar':fotoElegida==0}">
      </div>
      <div class="pokemon-imagen-shiny">
        <img [ngSrc]="pokemon.urlShiny" [alt]="pokemon.nombre" width="250" height="150" [ngClass]="{'mostrar':fotoElegida==1}">
      </div>
      <div class="carrusel">
        <div class="circulo" (click)="setFotoElegida(0)"></div>
        <div class="circulo" (click)="setFotoElegida(1)"></div>
      </div>

    </div>
    <div class="pokemon-nombre">
      <h2>{{pokemon.nombre}}</h2>
    </div>
    <div class="pokemon-tipo">
      @for(tipo of pokemon.tipos;track tipo){
      <div class="tipo {{tipo}}">{{tipo}}</div>

      }
    </div>
    <div class="pokemon-estadistica">
      <span class="estadistica">{{pokemon.peso}}KG</span>
      <span class="estadistica">{{pokemon.altura}}M</span>
    </div>
<!--     <p class="pokemon-ver-mas">
      <strong>Ver màs</strong>
    </p> -->
  </div>
</div>